<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>掲示板</title> 
  <link rel="stylesheet" href="../public/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../public/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="">
    
    <header class="my-5">
        <h1 class="my-2 mx-4 py-2 px-4">ようこそ！掲示板へ！</h1>
    </header>

    <main class="main container border border-right border-left border-success">
        <div class="login row justify-content-around p-5">
            <button type="button" class="mx-auto btn btn-outline-primary" id="login-show">ログイン</button>
        </div>
        <div class="signup row justify-content-around p-5">
            <button type="button" class="btn btn-outline-secondary" id="signup-show">サインアップ</button>
        </div>

        <!-- モーダル -->
        <!-- ログインモーダル -->
        <div class="login-modal-wrapper" id="login-modal">
            <div class="modal1">
              <div class="close-modal">
                <i class="fa fa-2x fa-times"></i>
              </div>
              <div id="login-form">
                <h2>ログイン</h2>
                <form action="/login_signup" method="post">
                  <div>
                    <label for="email">メールアドレス: </label>
                    <input type="email" name="email">
                  </div>
                  <div>
                    <label for="password">パスワード: </label>
                    <input type="password" name="password">
                  </div>
                
                  <input type="submit" value="ログイン">
                </form>
              </div>
            </div>
          </div>
        <!-- サインインモーダル -->
        <div class="signup-modal-wrapper" id="signup-modal">
            <div class="modal2">
              <div class="close-modal">
                <i class="fa fa-2x fa-times"></i>
              </div>
              <div id="signup-form">
                <h2>新規登録</h2>
                <form action="/login_signup" method="post">
                  <div>
                    <label for="name">名前: </label>
                    <input type="text" name="name">
                  </div>
                  <div>
                    <label for="email">メールアドレス: </label>
                    <input type="email" name="email">
                  </div>
                  <div>
                    <label for="password">パスワード: </label>
                    <input type="password" name="password">
                  </div>
                
                  <input type="submit" value="サインアップ">
                </form>
              </div>
            </div>
          </div>

        <!-- モーダル（終了） -->

    </main>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/custom.js"></script>
</body>
</html>


